@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

/* Nice scroll */
*::-webkit-scrollbar { width: 10px; height: 10px; }
*::-webkit-scrollbar-thumb { background: rgba(255,255,255,0.12); border-radius: 999px; }
*::-webkit-scrollbar-track { background: rgba(255,255,255,0.04); }

@keyframes pulseSoft {
  0%, 100% { opacity: .65; }
  50% { opacity: 1; }
}

.pulse-soft { animation: pulseSoft 1.2s ease-in-out infinite; }
